.banner-img {
  margin-top: 60px;
}

.home-page h1 {
  color: gray;
  font-family: "Playfair Display", serif;
}

.home-page {
  display: flex;
  flex-wrap: wrap;
}
.home-page .card {
  background-color: rgba(128, 128, 128, 0.097);
  /* width: 18rem; */
  margin:10px;
}
.home-page .card-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-page .card-price {
  color: green;
  font-weight: bold;
}
.home-page button {
  border-radius: 0;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.home-page .card-text {
  color: rgb(90, 89, 89);
}

.home-page .card img:hover {
  transform: scale(0.9);
}

.home-page .card-img-top {
  height: 200px !important;
}
.btn.btn-dark.ms-1 {
  background-color: green !important;
  border: none;
}

/* ==================
filters
============== */
.filters h4 {
  margin-top: 20px;
  color: green !important;
  border-bottom: 3px solid darkgreen;
  width: 200px;
}

/* .ant-checkbox-wrapper:first-of-type {
  margin-left: 8px;
} */

.ant-checkbox-wrapper {
  margin: 2px;
}
.ant-radio-wrapper {
  margin-bottom: 5px !important;
  margin-left: 10px;
}

.filters button {
  background-color: green;
  /* #4cabdb, #410179 */
  width: 100%;
  border: none;
  border-radius: 0;
  margin-top: 20px;
}

.filters {
  border: none; /* Remove the card border */
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
  background-color: rgba(128, 128, 128, 0.097);
  border-radius: 5px; /* Remove border radius to make it square */
  padding: 5px; /* Add padding inside the card */
  height: 720px;
  margin-top: 75px;
}
.pagination-buttons {
  display: flex;
  justify-content: space-between; /* To add space between the buttons */
  border-radius: 0;
  width: 50%;
  
}
.pagination-buttons button{
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 20px !important;
  font-weight: bold;
  background-color: green;
  color: white;
  margin: 10px;
}


/* Media Query for Four Columns at 1000px and Larger */
@media screen and (min-width: 1000px) {
.home-page .card {
  background-color: rgba(128, 128, 128, 0.097);
  width: calc(33.3% - 20px); /* Four columns with spacing */
  margin: 10px; /* Add margin between cards */
}
}

/* Media Query for Two Columns at 500px - 999px */
@media screen and (min-width: 500px) and (max-width: 999px) {
.home-page .card {
  background-color: rgba(128, 128, 128, 0.097);
  width: calc(50% - 20px); /* Two columns with spacing */
  margin: 10px; /* Add margin between cards */
}
.filters h4 {
  margin-top: 0px; /* Remove margin-top for the "Filter By Category" section */
}
}

/* Media Query for One Column at Less than 499px */
@media screen and (max-width: 499px) {
.home-page .card {
  background-color: rgba(128, 128, 128, 0.097);
  width: calc(100% - 20px); /* One column with spacing */
  margin: 10px; /* Add margin between cards */
}
}
@media screen and (max-width: 499px) {
.filters h4 {
  margin-top: 0px; /* Remove margin-top for the "Filter By Category" section */
}
}